
@{
    ViewData["Title"] = "O aplikaci";
}

<section class="col-sm-12 col-lg-6 col-xs-12  m-5 p-3 text-center">
    <h1>O aplikaci</h1>   
    <div class="text-start my-5">
        <h4>Přihlašovací udaje</h4>
        <table class="table table-hover table-bordered border-dark text-start">
            <tr>
                <th>
                    Email
                </th>
                <th>
                    Heslo
                </th>
            </tr>
            <tr>
                <td>
                    admin@projekt.cz
                </td>
                <td>
                    Password1
                </td>
            </tr>
            <tr>
                <td>
                    pojistenec@email.cz
                </td>
                <td>
                    Password1
                </td>
            </tr>
        </table>
    </div>
</section>