
@{
    ViewData["Title"] = "O aplikaci";
}

<section class="col-sm-12 col-lg-6 col-xs-12  m-5 p-5 pozadi">
    <h1>O aplikaci</h1>
    <p>
        orem ipsum dolor sit amet, consectetur adipiscing elit. Proin id ornare nibh. Nam mollis lectus eget sem scelerisque, pulvinar dapibus justo pulvinar. Donec non elit nunc. Nulla et metus non augue aliquet iaculis.           Suspendisse vulputate ex imperdiet pulvinar dignissim. Phasellus eu nisl urna. Sed semper quam nec placerat semper. Mauris euismod ligula sed ligula laoreet, ut bibendum eros mattis. Vivamus tincidunt urna eget           mcorper. Nunc at nunc nec arcu egestas interdum sed id turpis. Nullam vel facilisis urna. Aenean vel eros sed ex luctus tempor in in nibh.
    </p>
    <p>
        Nulla lacus turpis, dignissim dictum nibh at, condimentum convallis risus. Donec ut elit in neque posuere scelerisque in accumsan est. Integer ut metus ac ex eleifend mattis. In vel massa ipsum. Vivamus                      scelerisque magna velit, in feugiat mauris blandit a. Mauris rhoncus metus eu elementum posuere. Aenean tristique laoreet erat at pretium. Nam ut purus eget lorem placerat consectetur.
    </p>
    <p>
            Nunc tristique sollicitudin urna. Suspendisse molestie nibh elit, ut convallis risus blandit nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultrices nibh at odio eleifend, non ultricies felis interdum. Aliquam non consectetur diam, ut egestas urna. Aenean eu ex nec arcu dictum sagittis. Aliquam in urna blandit, tempor mi in, mattis lorem. Morbi sed malesuada mi. Phasellus ut orci et erat eleifend dapibus. Fusce aliquam, ex nec ultricies semper, quam sapien commodo nunc, quis commodo ex justo a lectus. Proin vehicula tristique dolor quis accumsan. Mauris nec sem sodales neque euismod iaculis a viverra neque. Aenean congue dui vitae sollicitudin elementum. Nullam nibh velit, rhoncus volutpat sem ac, blandit placerat quam. Maecenas sit amet arcu diam. Aliquam vitae nibh dictum, sodales lorem in, dictum nulla.
    </p>

</section>